{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "targets": {
          "node": true
        }
      }
    ]
  ],
  "sourceMaps": "inline",
  "plugins": ["@babel/plugin-proposal-object-rest-spread"]
}
